.main {
  background-color: #f4f4f4;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.grid {
  display: grid;
}

.header {
  display: grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  background-color: var(--theme-highlight-color);
}

.content {
  display: grid;
  grid-template-columns: repeat(6, calc(100% / 6));
}

.column {
  padding: 20px;
}

div.content > .column:nth-of-type(odd) {
  background-color: #f4f4f4;
}

div.content > .column:nth-of-type(even) {
  background-color: #f9f9f9;
}

.content>.column {
  min-height: 20vh;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}