::selection {
  background-color: var(--theme-highlight-color);
}

.main {
  color: black;
}

.main:hover {
  color: var(--theme-color);
}

.main:not(:hover) {
  color: black;
  transition-duration: 3s;
}