.main {
  padding: 0 var(--side-padding-medium);
  height: 12vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  display: grid;
  align-items: center;
}

.one {
  justify-content: start;
}

.two {
  justify-content: end;
}

.link {
  display: inline;
  margin-left: 2vw;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 20px;
}