:root {

  // COLORS
  --white: white;
  --light-light-gray: #f4f4f4;
  --black: black;

  // OTHER
  --side-padding-small: 3vw;
  --side-padding-medium: 5vw;
  --side-padding-large: 10vw;

  // DEFAULTS

  --side-padding-default: var(--side-padding-medium)

}