:root {

  // COLORS
  --white: white;
  --light-light-gray: #f4f4f4;
  --black: black;

  // FONT SIZES

  --big-three: 40px;
  --big-two: 35px;
  --big-one: 30px;
  --medium: 25px;
  --small-one: 20px;
  --small-two: 18px;
  --small-three: 16px;

  --h1-size: var(--big-two);
  --h2-size: var(--big-one);
  --h3-size: var(--medium);
  --h4-size: var(--small-one);
  --h5-size: var(--small-two);
  --h6-size: var(--small-three);

  // PADDING

  --side-padding-big: 10vw;
  --side-padding-medium: 5vw;
  --side-padding-small: 3vw;

  --button-padding-big: 14px 40px;
  --button-padding-medium: 10px 30px;
  --button-padding-small: 8px 24px;

  // DEFAULTS

  --side-padding: var(--side-padding-small);
  --button-padding: var(--button-padding-small);
  --heading-margin-top: 15vh;

  --theme-color: rgba(89, 222, 89, 1);
  --theme-highlight-color: rgba(89, 222, 89, .25);

}