.main {
  padding:
    var(--heading-margin-top)
    calc(var(--side-padding) + 55%)
    0
    var(--side-padding);
  height: calc(84vh - var(--heading-margin-top));
  pointer-events: none;
  background-color: transparent;
}