.main {
  width: 20vw;
  min-width: 350px;
  display: inline-block;
}

.colorPalette {
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 8px;
  column-gap: 8px;
  padding-bottom: 40px;
}